@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;    
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
.form-signin{
    justify-self: center;
    margin-top: 4rem;
    width: 25rem;
}
.form-floating{
    margin: 1rem 0;
}
.text-center .navbar{
justify-self: start;
width: 100%;
}
.form-signin button{
    margin-bottom: 1rem;
}
a.text-muted:hover{
    color: #0069d9 !important;
}
.box>.inner{
    font-family: 'Bonheur Royale', cursive;
    font-size: 2rem;
    font-weight:normal;
}
.navbar{
    box-shadow: 0 0.51rem 1rem 0.2rem #95959552;;
}